@media only screen and (max-width: 1199px) {
    .handwash{
        position: absolute;
        transform: scale(0.9);
        bottom: 0;
        left: 67px;
    }
    
    .logo_img {
    position: absolute;
    left: 453px;
    transform: scale(0.4);
    bottom: -49px
    }
    .about_products {
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }
    .mask_img {
        position: relative;
        left: 192px;
        transform: scale(0.45);
        bottom: -24px;
    }
    .footer_icon{
        margin: 0 15px;
    }
    .footer_text{
        font-size: 13px;
        margin-left: 20px;
    }
    .owner{
        width: 152px;
        height: 152px;
        object-fit: cover;
        object-position: top;
    }
    .linkedin, .twitter {
        padding: 9px;
        margin: 0 9px;
    }
    .container{
        padding: 0 15px;
    }
    .virus_left {
        width: 235px;
        height: 230px;
        left: -129px;
        top: 314px;
    }
    .virus {
        top: 379px;
        right: 401px;
    }
    .background {
        background-size: 542px;
    }
    .about_products {
        font-size: 20px;
    }
    .lady{
        display: none;
    }
    .banner {
        background-color:#FCF0E7;
    }
    .header{
        background-color: #FCF0E7;
    }
    .baner{
        background-color: #FCF0E7;
    }
    .mask{
        height: 159px;
        width: 159px;
    }
    .navbar_list {
        position: relative;
        top: 19px;
    }
    .footer_virus_right {
        right: -64px;
        top: 343px;
    }
    
  }
@media only screen and (max-width:991px) {
    .nav_list{
        display: none;
    }
    .btn{
        display: none;
    }
    .toggle{
        display: flex;
        height: 75px;
        width: 75px;
    }
    .about_covid_19{
        display: none;
    }
    .toggle_bar{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .home{
        text-align: center;
    }
    .owner {
        width: 91px;
        height: 91px;
    }
        .nav{
            margin: 0;
            display: none;
        }
        .nav.active{
            display: block;
            position: absolute;
            left: 0;
            top: 66%;
            width: 100%;
            z-index: 9;
            background: #fff;
            box-shadow: 0 2px 0px rgba(0,0,0,0.24);
            padding: 20px 40px;
        }
        .navbar{
            flex-direction: column;
        }
    
        .nav_link{
            padding: 8px 0;
        }

        .nav_toggler{
            display: inline-block;
        }
        .logo_img {
            left: 287px;
            bottom: -49px;
        }
        .handwash {
            position: absolute;
            transform: scale(1.2);
            top: 3px;
            left: 52px;
        }
        .mask_img {
            left: 178px;
            transform: scale(0.5);
            top: 74px;
        }
    
}

